n8n/workflow-relance.json
{
  "name": "MR Dispatch - Relance (POST)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-relance",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-relance",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "dashboard-relance"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.secret }}",
              "rightValue": "CHANGER_CETTE_CLE_SECRETE",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-secret",
      "name": "Vérifier clé secrète",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1skUdxGg9j9pHwj2Cx2gX5AiJGHRVeRFF9WR_ZEPTgZw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Techniciens",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-techs",
      "name": "Lire Techniciens",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REMPLACER_PAR_VOTRE_CREDENTIAL_GOOGLE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Matche les noms des destinataires -> Group IDs WhatsApp, et prépare un item par envoi\nconst body = $('Webhook POST').first().json.body;\nconst techs = $('Lire Techniciens').all().map(i => i.json);\nconst message = body.message || '';\nconst noms = Array.isArray(body.destinataires_noms) ? body.destinataires_noms : [];\n\n// index nom (insensible casse) -> Group id\nconst byName = {};\nfor (const t of techs) {\n  const nom = (t['Nom du partenaire'] || '').toString().trim().toLowerCase();\n  const gid = (t['Group id'] || '').toString().trim();\n  if (nom && gid) byName[nom] = gid;\n}\n\nconst items = [];\nfor (const nom of noms) {\n  const gid = byName[(nom || '').toString().trim().toLowerCase()];\n  if (gid) items.push({ json: { to: gid, body: message, nom } });\n}\n\nif (items.length === 0) {\n  // rien à envoyer (aucun match) -> on renvoie un item vide marqué\n  return [{ json: { _none: true } }];\n}\nreturn items;"
      },
      "id": "resolve-gids",
      "name": "Résoudre Group IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer VOTRE_TOKEN_WHAPI" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"to\": $json.to, \"body\": $json.body } }}",
        "options": {}
      },
      "id": "send-whapi",
      "name": "Envoyer Whapi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-ok",
      "name": "Répondre OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ { \"ok\": false, \"error\": \"Clé secrète invalide\" } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-deny",
      "name": "Refuser (401)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Webhook POST": { "main": [[{ "node": "Vérifier clé secrète", "type": "main", "index": 0 }]] },
    "Vérifier clé secrète": {
      "main": [
        [{ "node": "Lire Techniciens", "type": "main", "index": 0 }],
        [{ "node": "Refuser (401)", "type": "main", "index": 0 }]
      ]
    },
    "Lire Techniciens": { "main": [[{ "node": "Résoudre Group IDs", "type": "main", "index": 0 }]] },
    "Résoudre Group IDs": { "main": [[{ "node": "Envoyer Whapi", "type": "main", "index": 0 }]] },
    "Envoyer Whapi": { "main": [[{ "node": "Répondre OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
