n8n/workflow-lecture.json
{
  "name": "MR Dispatch - Lecture (GET)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "dashboard-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-lecture",
      "name": "Webhook GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "dashboard-data"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1skUdxGg9j9pHwj2Cx2gX5AiJGHRVeRFF9WR_ZEPTgZw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Interventions",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-interventions",
      "name": "Lire Interventions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REMPLACER_PAR_VOTRE_CREDENTIAL_GOOGLE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1skUdxGg9j9pHwj2Cx2gX5AiJGHRVeRFF9WR_ZEPTgZw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Techniciens",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read-techniciens",
      "name": "Lire Techniciens",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REMPLACER_PAR_VOTRE_CREDENTIAL_GOOGLE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assemble le JSON attendu par le dashboard\nconst interventions = $('Lire Interventions').all().map(i => i.json);\nconst techniciens   = $('Lire Techniciens').all().map(i => i.json);\n\nreturn [{ json: { interventions, techniciens, suivi: [] } }];"
      },
      "id": "assemble-json",
      "name": "Assembler JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Répondre au Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 200]
    }
  ],
  "connections": {
    "Webhook GET": { "main": [[{ "node": "Lire Interventions", "type": "main", "index": 0 }]] },
    "Lire Interventions": { "main": [[{ "node": "Lire Techniciens", "type": "main", "index": 0 }]] },
    "Lire Techniciens": { "main": [[{ "node": "Assembler JSON", "type": "main", "index": 0 }]] },
    "Assembler JSON": { "main": [[{ "node": "Répondre au Dashboard", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
