mr-dispatch-dashboard/n8n/workflow-actions.json
{
  "name": "MR Dispatch - Actions (POST)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-action",
      "name": "Webhook POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "dashboard-action"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json.body.secret }}",
              "rightValue": "CHANGER_CETTE_CLE_SECRETE",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-secret",
      "name": "Vérifier clé secrète",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Traduit l'action du dashboard en colonnes à mettre à jour dans le Sheet\nconst b = $json.body;\nconst now = new Date();\nconst ts = `${String(now.getDate()).padStart(2,'0')}/${String(now.getMonth()+1).padStart(2,'0')}/${now.getFullYear()} ${String(now.getHours()).padStart(2,'0')}:${String(now.getMinutes()).padStart(2,'0')}`;\n\nconst out = { inter_id: b.inter_id };\n\nswitch (b.action) {\n  case 'prendre':\n    out.statut = 'attribuee';\n    out.tech_assigne_nom = b.tech || '';\n    out.timestamp_assignation = ts;\n    break;\n  case 'reassigner':\n    out.tech_assigne_nom = b.tech || '';\n    out.timestamp_assignation = ts;\n    break;\n  case 'cloturer':\n    out.statut = 'terminee';\n    out.timestamp_cloture = ts;\n    if (b.prix) out.prix = b.prix;\n    if (b.cam) out.cam = b.cam;\n    break;\n  case 'annuler':\n    out.statut = 'annulee';\n    out.timestamp_cloture = ts;\n    if (b.raison) out.raison_annulation = b.raison;\n    break;\n  case 'rdv_confirm':\n    out.statut = 'rdv';\n    if (b.date_rdv) out.date_rdv = b.date_rdv;\n    break;\n  case 'note':\n    out.observation = b.observation || '';\n    break;\n  default:\n    throw new Error('Action inconnue: ' + b.action);\n}\n\nreturn [{ json: out }];"
      },
      "id": "build-update",
      "name": "Construire MAJ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1skUdxGg9j9pHwj2Cx2gX5AiJGHRVeRFF9WR_ZEPTgZw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Interventions",
          "mode": "name"
        },
        "columnToMatchOn": "inter_id",
        "valueToMatchOn": "={{ $json.inter_id }}",
        "options": {}
      },
      "id": "update-sheet",
      "name": "Mettre à jour Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REMPLACER_PAR_VOTRE_CREDENTIAL_GOOGLE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"action\": $('Webhook POST').item.json.body.action } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-ok",
      "name": "Répondre OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={{ { \"ok\": false, \"error\": \"Clé secrète invalide\" } }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-deny",
      "name": "Refuser (401)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Webhook POST": { "main": [[{ "node": "Vérifier clé secrète", "type": "main", "index": 0 }]] },
    "Vérifier clé secrète": {
      "main": [
        [{ "node": "Construire MAJ", "type": "main", "index": 0 }],
        [{ "node": "Refuser (401)", "type": "main", "index": 0 }]
      ]
    },
    "Construire MAJ": { "main": [[{ "node": "Mettre à jour Sheet", "type": "main", "index": 0 }]] },
    "Mettre à jour Sheet": { "main": [[{ "node": "Répondre OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
